<?xml version="1.0"?>

<configuration>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="false">
			<add name="RavenDbModule" type="SampleFramework.Core.Infrastructure.HttpModules.RavenDbModule, SampleFramework.Core" preCondition="managedHandler" />
		</modules>
	</system.webServer>

</configuration>
